@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-color: var(--cor4);
    min-height: 120px;
    text-align: center;
    padding-top: 60px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.267);
    font-weight: normal;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363);
    text-align: right;
}

nav > a {
    color: var(--cor1);
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

ul{
    list-style: none;
}

ul > li > a{
    text-decoration: none;
    color: white;
    line-height: 30px;
    font-size: 0.85em;
    transition-duration: 0.5s;
}

ul > li > a:hover{
    font-size: 0.9em;
    text-decoration: underline;
    color: var(--cor1);
}

.ul-secundario{
    display: none;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h2, main h3 {
    color: var(--cor5);
    font-size: 1.35em;
    background-image: linear-gradient(to right, var(--cor1), transparent) ;
    text-indent: 8px;
    font-weight: bolder;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 1.4em;
}

main img {
    width: 100%;
    margin-top: 20px;
}

main strong {
    color: var(--cor4);
    font-weight: bolder;
    background-color: var(--cor0);
    padding: 2px 6px;
}

div.video {
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 0 -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

div.calculoAd, div.calculoSub, div.calculoMult, div.calculoDiv {
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    border: 1.5px dotted black;
    border-radius: 5px;
}

div.calculoAd p, div.calculoSub p, div.calculoMult p, div.calculoDiv p  {
    text-align: center;
    font-weight: bolder;
    font-size: 1.3em;
    color: var(--cor5);
}

div.calculoAd > button,  div.calculoSub > button, div.calculoMult > button,  
div.calculoDiv > button{
    background-color: var(--cor3);
    color:white;
    font-weight: bolder;
    border: 6px solid transparent;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

div.calculoAd > button:hover, div.calculoSub > button:hover, div.calculoMult > button:hover, 
div.calculoDiv > button:hover {
    transition: all 0.5s;
    cursor: pointer;
    border: 10px solid transparent;
    font-size: 14px;
    background-color: var(--cor0);
}

.whats {
    position: fixed; 
    bottom: 30px; 
    right: 30px; 
    z-index: 9999;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px; 
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.288);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0 0;
}

aside button {
    color: var(--cor5);
    text-decoration: none;
    background-color: var(--cor0);
    border-radius: 10px;
    border: solid transparent;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 5px;
    display: inline-block;
}

aside button:hover {
    color:white;
    font-weight: bolder;
	background-color: var(--cor4);
	text-decoration: underline;
    transition: all 0.5s;
    cursor: pointer;
}

.whats {
    position: fixed; 
    bottom: 30px; 
    right: 30px; 
    z-index: 9999;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer > p > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}

/*
#estilo-tabela-conversao{
    text-align: center;
    background-color: var(--cor0);
    height: auto;
    width: auto;
    padding: 10px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#estilo-tabela-conversao > button{
    background-color: var(--cor3);
    color:white;
    font-weight: bolder;
    border: 8px solid transparent;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#estilo-tabela-conversao > button:hover{
    transition: all 0.5s;
    cursor: pointer;
    border: 13px solid transparent;
    font-size: 16px;
    background-color: var(--cor1);
}

#estilo-tabela-conversao > p{
    text-align: center;
    font-weight: bold;
}

#estilo-tabela-conversao > div > input{
    padding: 3px;
    margin: 2px;
}

#estilo-tabela-conversao > div > p {
    text-align: center;
}

*/